body {
    font-family: 'Source Serif Pro', serif;
    margin: 0;
    font-size: 17pt;
    background-color: #e1e1e1;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}

ul > li, ol > li {
    margin-bottom: 18px;
}

hr {
    border: none;
    border-top: 1px solid silver;
}

a {
    color: black;
}

a:hover {
    color: blue;
}

a:active {
    color: grey;
}

img {
    max-width: 700px;
}

.grey {
    color: #4a4a4a;
}

.hide {
    display: none;
}

.subtitle {
    font-family: 'Josefin Sans', sans-serif;
    color: #444444;
}

.ebook-image {
    width: 50%;
    margin: auto;
    display: block;
}

.main-container {
    display: grid;
    grid-template-rows: 400px auto auto 150px;
    margin: auto;
    max-width: 700px;
}

.main-container-book {
    display: grid;
    grid-template-rows: 400px auto auto auto 150px;
    margin: auto;
    max-width: 700px;
}

.main-container-about-me {
    display: grid;
    grid-template-rows: 400px auto 150px;
    margin: auto;
    max-width: 700px;
}

.main-container-course-purchased {
    display: grid;
    margin: auto;
    max-width: 700px;
}

.navbar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 30px;
    align-items: stretch;
    justify-items: stretch;
}

.navbar a {
    color: rgb(224, 224, 224);
    background-color: #282d33;
    text-decoration: none;
    line-height: 30px;
    text-align: center;
    font-size: 11pt;
    font-family: sans-serif;
    font-weight: lighter;
}

.navbar a:hover {
    opacity: 0.8;
}

.navbar a:active {
    opacity: 0.95;
}

.navbar a.selected-navbar-item {
    background-color: #808080;
    color: white;
}

.view-course-button {
    background-color: rgb(20, 93, 228);
    border: none;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    padding: 20px;
    margin: 20px;
    display: inline-block;
}

.view-course-button:hover {
    background-color: rgb(38, 110, 244);
}

.view-course-button:active {
    background-color: rgb(17, 70, 168);
}

.title-block {
    display: grid;
    grid-template-columns: 200px auto;
    align-items: center;
    justify-items: center;
}

.title-block-course-purchased {
    display: grid;
    align-items: center;
    justify-items: center;
}

.purchase-block {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    text-align: center;
    grid-row-gap: 10pt;
    margin-bottom: 50px;
}

.purchase-block h2 {
    margin: 0;
}

.elements {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 1fr 1fr;
    grid-gap: 50px;
    text-align: center;
}

.element-image {
    display: block;
    width: 100px;
    margin: auto;
    padding: 30px;
}

.elements p {
    grid-column: 1 / span 12;
    text-align: left;
}

.element-1, .element-5 {
    grid-column: 1 / span 6;
}
.element-2, .element-6 {
    grid-column: 7 / span 6;
}
.element-3, .element-7 {
    grid-column: 1 / span 6;
}
.element-4, .element-8 {
    grid-column: 7 / span 6;
}

.elements-final-text-block {
    grid-column: 1 / span 12;
}

.book-block p:first-of-type::first-letter {
    -webkit-initial-letter: 2;
    initial-letter: 2;
    font-weight: bolder;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.mains-image {
    width: 100px;
    height: 100px;
}

.clickable-title {
    cursor: pointer;
    border: 1px solid grey;
    padding: 10px;
}

.clickable-title:hover {
    background-color: rgb(247, 247, 247);
}

.clickable-title:active {
    opacity: 0.7;
}

.half-wide-button {
    cursor: pointer;
    box-sizing: border-box;
    width: calc(50% - 3px);
    border: 1px solid grey;
    padding: 10px;
    display: inline-block;
    font-size: 13pt;
    text-decoration: none;
    color: black;
    text-align: center;
}

.half-wide-button:hover {
    background-color: rgb(247, 247, 247);
    color: black;
}

.half-wide-button:active {
    opacity: 0.7;
}

.mailchimp-form {
    grid-column: 1 / span 3;
    margin-bottom: 200px;
    box-shadow: 0px 2px 20px 1px grey;
    border-radius: 10px;
    padding: 50px;
    margin-top: 40px;
    font-size: 16pt;
    text-align: center
}

.mailchimp-form h2 {
    margin-top: 0;
    font-weight: 500;
    text-align: center;
}

/* These are the email and name inputs */
.mc-field-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.mc-field-group input {
    border-radius: 10px;
    border: 1px solid grey;
    width: 50%;
    padding: 10px;
}

#mc-embedded-subscribe {
    background-color: rgb(41, 101, 255);
    color: white;
    border: none;
    padding: 20px;
    border-radius: 10px;
    font-size: 14pt;
    margin-top: 10px;
}

#mc-embedded-subscribe:hover {
    opacity: 0.8;
}

#mc-embedded-subscribe:active {
    opacity: 0.6;
}

@media (max-width: 800px) {
    body {
        padding: 20px;
    }
    .navbar {
        grid-template-columns: repeat(2, 1fr);
    }
    .elements {
        display: flex;
        flex-direction: column;
    }
    .elements div {
        margin-bottom: 20px;
    }
}

@media (max-width: 650px) {
    div.title-block {
        grid-template-columns: auto;
        text-align: center;
    }
    .main-container, .main-container-course-purchased, .main-container-about-me {
        margin-top: 50px;
    }
    .main-container {
        grid-template-rows: 500px 200px auto 150px;
    }
    .footer {
        grid-template-columns: 1fr;
    }
}
